body{background: #fff;}
.w1200{width: 1200px;margin:0 auto;}
.min-w1200{min-width: 1200px;margin:0 auto;}


/*头部*/
.header{height: 100px;}
.header .logo{width: 60px;height: 70px;padding:15px 0 0 0;}
.header .nav{line-height: 100px;}
.header .nav li{margin:0 20px;font-size: 18px;}
.header .nav li a{color: #555555;}
.header .nav li.active a{color: #10ac5f;}
.header .nav li:hover a{color: #10ac5f;}

.footer{height: 145px;background: #334e64;}
.footer .flogo{width: 60px;height: 70px;vertical-align: top;margin-right: 100px;padding-top: 40px;}
.footer .footerBox{vertical-align: top;padding-top: 40px;}
.footer .footerHref{}
.footer .footerHref dd{color: #fff;font-size: 16px;margin:0 10px;line-height: 40px;}
.footer .footerHref dd a{color: #fff;}
.footer  .copy{color: #fff;font-size: 16px;margin:0 10px;line-height: 40px;}

.title{padding: 40px 0;}
.title p{font-size: 26px;color: #333333;}
.title span{font-size: 16px;color: #999999;}
.c-title{padding: 10px 0 10px 40px;border-bottom: 1px solid #10ac5f;}
.c-title p{font-size: 18px;color: #333333;}
/*.c-title span{font-size: 16px;color: #999999;}*/
/*首页*/
.banner{min-width: 1200px;}
.fb-banner-prev {border-radius: 0;background: url("../images/banner-left.png") no-repeat}
.fb-banner-next {border-radius: 0;background: url("../images/banner-right.png") no-repeat}
.fb-banner-spot .fb-spot-item{border:1px solid #ffffff;background: none;}
.fb-banner-spot .fb-spot-item-active{background: #fff;}

/*新闻中心*/
.news{margin-top: 10px;}
.news .fb-figureCarousel{height: auto;}
.fb-figureCarousel{padding: 0;}
.fb-figureCarousel .fb-figureCarousel-boxOverflow .fb-figureCarousel-item img{height: auto;}
.fb-figureCarousel .fb-figureCarousel-boxOverflow .fb-figureCarousel-item{border-radius: 0;}
.news .fb-figureCarousel p{line-height: 60px;text-align: center;font-size: 18px;color: #333333;}
.fb-figureCarousel .fb-figureCarousel-left{background: url("../images/news-left.png") no-repeat;background-position:center 75px;left:-80px;}
.fb-figureCarousel .fb-figureCarousel-right{background: url("../images/news-right.png") no-repeat;background-position:center 75px;right:-80px;}

.news-box{margin-top: 0px;}
.news-a{width: 580px;height: 410px;background: #fafafa;}
.news-a .news-a-con{padding: 40px 40px 30px 34px;}
.news-a .news-a-con .news-a-item{display: none;}
.news-a .news-a-con .news-a-item.active{display: block;}
.news-a .news-a-con .img{width: 500px;height: 200px;}
.news-a .news-a-con .img img{width: 500px;height: 200px;}
.news-a .news-a-con .test{}
.news-a .news-a-con .test .test-title{font-size: 18px;color: #333333;line-height: 56px;}
.news-a .news-a-con .test .test-con{font-size: 16px;color: #999999;line-height: 25px;height: 75px;overflow: hidden;}
.news-a .news-a-button{text-align: center;}
.news-a .news-a-button .news-a-button-item{width:16px;height: 16px;background: #dddddd;margin:0 4px;cursor: pointer;}
.news-a .news-a-button .news-a-button-item.active{background: #10ac5f;}

.news-b{width: 580px;height: 410px;background: #fafafa;}
.news-b .news-b-tab{padding: 40px 40px 0 40px;text-align: center;}
.news-b .news-b-tab .news-tab-item{width: 124px;height: 32px;font-size: 16px;color: #999999;line-height: 32px;cursor: pointer;position: relative;}
.news-b .news-b-tab .news-tab-item.active{background: #10ac5f;color: #fff;}
.news-b .news-b-tab .news-tab-item.active:after{content: "";position: absolute;width: 16px;height: 8px;background: url("../images/tag.png") no-repeat center;bottom:-8px;left:50%;margin-left: -8px;}
.news-b .news-b-con{padding: 0 40px 0 40px}
.news-b .news-b-item{display: none;}
.news-b .news-b-item.active{display: block;}

.news-b .news-b-con .news-b-item-title{padding: 40px 0;border-bottom: 1px dashed #dddddd;}
.news-b .news-b-con .news-b-item-title p{font-size: 24px;color: #333333;line-height: 36px;}
.news-b .news-b-con .news-b-item-title span{font-size: 16px;color: #999999;line-height:24px;padding-top: 10px;display: block;}
.news-b .news-b-list{padding: 15px 0 0 0;}
.news-b .news-b-list li{font-size: 16px;line-height: 24px;margin:10px 0;}
.news-b .news-b-list a{color: #555555;display: block;}
.news-b .news-b-list li:hover a{color: #999999;}
.news-b .news-b-con .more{text-align: right;}
.news-b .news-b-con .more a{color: #10ac5f;font-size: 16px;}
.news-b .news-b-con .more a:hover{text-decoration: underline;}

/*about*/
.ml38{margin-left: 70px;margin-right:30px;}
.mr38{margin-right:70px;margin-left: 30px;}
.aboutUs{}
.aboutUs-item{margin-bottom: 30px;width: 500px;}
.aboutUs-item img{width: 480px; height: 173px;}

/*宣传大图*/
.fb-seamlessScrolling{margin:0 0 60px 0;}

/*新闻详情*/
.news-detail{padding: 40px 0;}
.news-detail h1 {
    font-size: 32px;
    color: #00763c;
    text-align: center;
    padding-bottom: 40px;
    background: url(../images/twoLine.png) no-repeat center 55px;
}
.news-detail p {
    padding-bottom: 50px;
    font-size: 16px;
    color: #666666;
    line-height: 33px;
    text-indent: 2em;
}
.strategy-detail-img {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 42px;
}
.strategy-detail-img img{
    width: 100%;
    
}
.news-detail-date{text-align: right;padding-bottom: 20px;}
.news-detail-date span{font-size: 14px;color: #999}
.news-detaile-page{}
.news-detaile-page .news-detaile-pageItem{font-size: 16px;color: #00763c;line-height: 30px;}
.news-detaile-page .news-detaile-pageItem a{color: #555;}
.news-detaile-page .news-detaile-pageItem a:hover{color: #999;line-height: 30px;}

#index-new div:hover{box-shadow: 2px 2px 10px #BBB; 
        background: #eee;
        transition:box-shadow 0.5s;
        transition-timing-function:ease;
        /* Firefo 4 */
        -moz-transition:box-shadow 0.5s;
        -moz-transition-timing-function:ease;
        /* Safari and Chrome */
        -webkit-transition:box-shadow 0.5s;
        -webkit-transition-timing-function:ease;
        /* Opera */
        -o-transition:box-shadow 0.5s;
        -o-transition-timing-function:ease;x}
.interval{ width: 100%;height: 25px; background: #00633c; }
.fb-seamlessScrolling .fb-seamlessScrolling-item{border:1px solid #4fa866}
.photo_bg{ width: 100%; background: #d3d6d2; height: 320px;  }
.photoShow{ width: 1200px; margin: 0 auto; }